.clear{
	clear: both;
}
.header-wraper{
	top:0;
	left:0;
	background: #FFFFFF;
	position: fixed;
	width: 100%;
	z-index: 99999999999999;
}
body {
	height: 1800px;
}
.nav-ul::after{
	content: '';
	clear: both;
	display: block;
}
.Group2{
	float: left;
	margin-left: 140px;
}
.navigation{
	float: right;
	margin-top: 48px;
	margin-right: 720px;
}
.nav-li{
	float: left;
	margin-right: 46px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}
.nav-color{
	color: #181C28;
}
/*/end header*/
.section1{
	margin-top: 103px;
}

.image_wraper{
	position: relative;
}
.section1_p1{
	position: absolute;
	top:105px;
	left:647px;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	color: #FFFFFF;
}
.section1_p2{
	position: absolute;
	top:132px;
	left:700px;
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	color: #FFFFFF;
}
/*end section1*/
/*section2*/
.section2_h3{
	float: left;
	margin-top: 84px;
	margin-left: 172px;
	margin-bottom: 81px;
	color: #FF7A00;
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
}
/*end section2*/
/*section3*/
.container{
	width: 1324px;
	height: 673px;
	margin:0 auto;
}
.box11{
	float: left;
}
.box22{
	float: right;
}
.box1122{
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
	margin-top: 20px;
	width: 563px;
	height: 94px;
	font-size: 36px;
	color: #181C28;
}
.box1122_p{
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
	width: 636px;
	height: 82px;
	margin-top: 22px;
	font-size: 16px;
	/*margin-bottom: 13px;*/
}
.readmore a{
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
	margin-top: 13px;
	color: #FF7A00;
	font-size: 14px;
}
.readmore a::after{
	content: '';
	width: 10px;
	height: 2px;
	color: red;
}
/*end*/
/*section3*/
.box222{
	margin-top: 57px;
	float: left;
	width: 633px;
	height: 669px;
}
.box333{
	margin-top: 57px;
	float: right;
	width: 633px;
	height: 669px;
}
.box222333_h{
	margin-top: 20px;
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
	width: 563px;
	height: 94px;
	font-size:36px;
	color: #181C28;
}
.box222333_p{
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
	margin-top: 22px;
	width: 636px;
	height: 81px;
	color: #7B7B7B:;
	font-size:16px;
}